<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="traceLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="logs/trace.txt" archiveNumbering="Date" maxArchiveFiles="5" archiveEvery="Day" concurrentWrites="true" layout="[${longdate:universalTime=true} ${threadid}|${mdlc:item=mdlcId}] ${level:uppercase=true}: ${callsite:captureStackTrace=false} ${message}" encoding="utf-8" />
    </target>
  </targets>
  <rules>
    <logger name="WhalesExchangeBackend.*" minlevel="Trace" writeTo="traceLog" />
  </rules>
</nlog>