<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\WhalesExchangeBackend" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

        <rewrite>
            <rules>
                <rule name="Remove WWW" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="true" />
    </system.webServer>
</configuration>